  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Content -->
    <div class="large-12 columns" role="content">
 
      <article>
 
        <h3><a href="#">Who Am I?</a></h3> 
        <div class="row">
          <div class="large-6 columns">
            <p>I am a web developer, music fan, beer aficionado and Mario Kart champion.  Welcome to my website.  As a recent graduate of MakerSquare (an intensive, full-time web development bootcamp), I am excited and ready to work on projects as a junior developer.</p>
            <p>I have experience building applications using HTML/CSS, Javascript and Ruby on Rails.  Although Ruby is my true love when it comes to coding, I have recently started learning and working with the AngularJS framework and I am very excited about the possibilities.</p>
            <p>I am currently a co-founder and contributor to OkGamer. OkGamer is an application that I started as a student at MakerSquare.  The goal of OkGamer is to improve the quality of interactions in online multiplayer video games by matching players with other people who have similar gaming interests and styles.</p>
          </div>
          <div class="large-6 columns">
            <img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-ash3/375643_10151364619500736_1766570733_n.jpg" />
          </div>
        </div>
 
        <!-- <p>Wayfarers irony whatever, semiotics Vice viral Intelligentsia. Lo-fi mumblecore semiotics viral hoodie, fixie freegan kitsch. Leggings skateboard PBR, Cosby sweater Etsy mixtape banh mi XOXO Helvetica Schlitz four loko yr. Readymade hoodie mustache freegan, selfies wayfarers swag sustainable cred High Life tote bag cliche whatever street art skateboard. Neutra bicycle rights beard banh mi kale chips High Life, +1 VHS sartorial hashtag. Tonx forage yr, Helvetica cred paleo narwhal Terry Richardson. Stumptown irony forage, PBR blog retro Tonx.</p>
 
        <p>PBR&amp;B you probably haven't heard of them Cosby sweater, kogi sustainable Pinterest High Life pour-over. Deep v asymmetrical leggings, Austin stumptown beard hella. Brooklyn McSweeney's scenester literally fingerstache trust fund. Keffiyeh tattooed viral locavore, Williamsburg squid cray American Apparel swag kale chips organic Etsy kitsch. Shabby chic aesthetic synth, seitan ethical High Life messenger bag Bushwick pickled asymmetrical Blue Bottle ethnic. Fingerstache put a bird on it Pinterest, Echo Park plaid Austin readymade chillwave 90's umami forage pop-up. Tousled cliche blog pour-over Pinterest food truck slow-carb fingerstache, aesthetic before they sold out Thundercats gluten-free cray typewriter.</p>

        <p>Meh vinyl small batch Echo Park, gentrify mlkshk retro post-ironic readymade. Tote bag pug single-origin coffee fixie, put a bird on it Etsy sartorial mustache deep v flexitarian hashtag Thundercats selvage. Master cleanse hella polaroid leggings, Truffaut lomo authentic kale chips church-key typewriter Shoreditch yr readymade. Single-origin coffee fingerstache selfies you probably haven't heard of them Tumblr, polaroid Shoreditch ethnic. Banh mi vegan retro pickled, fap High Life tote bag Williamsburg salvia shabby chic seitan lo-fi meggings. Put a bird on it Intelligentsia meh gentrify kitsch. Street art cray aesthetic hella.</p> -->
 
      </article>
 
    </div>
 
    <!-- End Main Content -->
 
 
    
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 
  