	<div class="row">
   	<div class="large-12 columns">
    <div id="slider">
    	<ul data-orbit>
			  <li>
			    <%= image_tag("Gamerfinder.png") %>
			    <div class="orbit-caption">...</div>
			  </li>
			  <li>
			    <%= image_tag("Gamerfinder_1.png") %>
			    <div class="orbit-caption">...</div>
			  </li>
			  <li>
			    <%= image_tag("Gamerfinder_2.png") %>
			    <div class="orbit-caption">...</div>
			  </li>
			  <li>
			    <%= image_tag("Gamerfinder_3.png") %>
			    <div class="orbit-caption">...</div>
			  </li>
			</ul>
    </div>

    <hr />
    </div>
  </div>