	<div class="row">
   	<div class="large-12 columns">
    <div id="slider">
    	<ul data-orbit>
			  <li>
			    <%= image_tag("http://i.imgur.com/u0NegSg.png", height: "400", width: "1000") %>
			    <div class="orbit-caption">...</div>
			  </li>
			  <li>
			    <%= image_tag("http://i.imgur.com/Z6NFnV4.png") %>
			    <div class="orbit-caption">...</div>
			  </li>
			  <li>
			    <%= image_tag("http://i.imgur.com/uOrIeGs.png") %>
			    <div class="orbit-caption">...</div>
			  </li>
			  <li>
			    <%= image_tag("http://i.imgur.com/EV07D7k.png") %>
			    <div class="orbit-caption">...</div>
			  </li>
			</ul>
    </div>

    <hr />
    </div>
  </div>
