<div class="row">
	<div class="large-12 columns">
		<h1>Michael James Cooley</h1>
		<p>4700 west guadalupe street, austin</p>
		<p>mikejames386@gmail.com | 614.551.2644</p>
	</div>
	<div class="large-12 columns">
		<h2 style="text-align:center">RELEVANT EXPERIENCE</h2>
		<p style="margin-bottom:0">Student Web Developer at MakerSquare from 08.2013 to 09.2013</p>
		<p style="margin-bottom:0">Learned to develop web applications using Ruby on Rails, JavaScript and .js frameworks like jQuery, Underscore and Backbone, and HTML/CSS. Learned good development practices such as writing good code, paired programming and version management with GitHub. Deployed apps to Heroku. Examples of the types of projects I worked on:</p>
		<p style="margin-bottom:0">OkGamer is a matchmaking app for online multiplayer gamers. It uses the Xbox API, Devise for user authentication and the Mailboxer gem for messaging.</p>
		<p>SocialOne is a platform that posts to Twitter and Facebook. My first project using APIs.</p>
	</div>
	<div class="large-12 columns">
		<h2 style="text-align:center">EMPLOYMENT HISTORY</h2>
		<p style="margin-bottom:0">Server at Fine Dining Locations from 2009 to 2012</p>
		<p>Waited tables at American Doll Bistro, El Ranchero, Arturo’s and Cryan’s Irish Pub.</p>
		<p style="margin-bottom:0">Graduate Research Assistant at Seton Hall University from 2009 to 2011</p>
		<p>Covered lectures, maintained regular office hours and provided tutoring for Undergraduate Intro- duction to Psychology course. Designed and conducted neuropsychological research.</p>
		<p style="margin-bottom:0">Archaeological Field Technician at Various Companies from 2006 to 2008</p>
		<p>Conducted excavations and field surveys. Identified, collected and cataloged cultural artifacts.</p>
		<p style="margin-bottom:0">Undergraduate Research Assistant at Northeast Ohio University from 2004 to 2006</p>
		<p>Assisted professor with research in rodent joint development. Conducted dissections of mice. Recorded data and used SPSS and Systat for analysis.</p>
	</div>
	<div class="large-12 columns">
		<h2 style="text-align:center">EDUCATION</h2>
		<p style="margin-bottom:0">graduate student at Seton Hall University in New Jersey from 2009 to 2011</p>
		<p>studied Experimental Psychology</p>
		<p style="margin-bottom:0">student at Wright State University</p>
		<p>earned Bachelor of Science in Psychology in 2009</p>
		<p style="margin-bottom:0">student at Kent State University</p>
		<p>earned Bachelor of Science in Biological Anthropology in 2007</p>
	</div>
</div>