<div class="row">
	<div class="large-12 columns">
		<h1>Michael James Cooley</h1>
		<p class="something">4700 west guadalupe street, austin</p>
		<p class="something">mikejames386@gmail.com | 614.551.2644</p>
	</div>
	<div class="large-12 columns resume">
		<h2>RELEVANT EXPERIENCE</h2>
		<p class="something">Student Web Developer <span class="connector_text">at</span> MakerSquare <span class="connector_text">from</span> 07.2013 <span class="connector_text">to</span> 09.2013</p>
		<p>Learned to develop web applications using Ruby on Rails, JavaScript and .js frameworks like jQuery, Underscore and Backbone, and HTML/CSS. Learned good development practices such as writing good code, paired programming and version management with GitHub. Deployed apps to Heroku. Examples of the types of projects I worked on:<br/>
			<span class="something">OkGamer</span> is a matchmaking app for online multiplayer gamers built in Ruby on Rails. It uses the Xbox API, Devise for user authentication and the Mailboxer gem for messaging.<br/>
			<span class="something">SocialOne</span> is a platform that posts to Twitter and Facebook. My first project using APIs.</p>
	</div>
	<div class="large-12 columns resume">
		<h2>EMPLOYMENT HISTORY</h2>
		<p class="something">Graduate Research Assistant <span class="connector_text">at</span> Seton Hall University <span class="connector_text">from</span> 2009 <span class="connector_text">to</span> 2011</p>
		<p>Covered lectures, maintained regular office hours and provided tutoring for Undergraduate Intro- duction to Psychology course. Designed and conducted neuropsychological research.</p>
		<p class="something">Archaeological Field Technician <span class="connector_text">at</span> Various <span class="connector_text">from</span> 2007 <span class="connector_text">to</span> 2008</p>
		<p>Conducted excavations and field surveys. Identified, collected and cataloged cultural artifacts.</p>
		<p class="something">Undergraduate Research Assistant <span class="connector_text">at</span> Northeast Ohio University <span class="connector_text">from</span> 2004 <span class="connector_text">to</span> 2006</p>
		<p>Assisted professor with research in rodent joint development. Conducted dissections of mice. Recorded data and used SPSS and Systat for analysis.</p>
	</div>
	<div class="large-12 columns resume">
		<div>
			<h2>EDUCATION</h2>
			<div>
				<p class="something">graduate student <span class="connector_text">at</span> Seton Hall University <span class="connector_text">from</span> 2009 <span class="connector_text">to</span> 2011</p>
				<p>studied Experimental Psychology</p>
			</div>
			<div>
				<p class="something">student <span class="connector_text">at</span> Wright State University <span class="connector_text">in</span> 2009</p>
				<p>earned Bachelor of Science in Psychology in 2009</p>
			</div>
			<div>
				<p class="something">student <span class="connector_text">at</span> Kent State University <span class="connector_text">from</span> 2002 <span class="connector_text">to</span> 2007</p>		
				<p>earned Bachelor of Science in Biological Anthropology in 2007</p>
			</div>
		<div>
	</div>
	<div class="large-12 columns resume">
		<div>
			<h2>Technology</h2>
			<div class="large-3 columns">
				<p class="something"><span class="connector_text">Ruby</span></p>
				<p>Ruby on Rails</p>
			</div>
			<div class="large-3 columns">
				<p class="something"><span class="connector_text">Javascript</span></p>
				<p class="something"><span class="connector_text">Underscore.js</span></p>
				<p>jQuery</p>
			</div>
			<div class="large-3 columns">
				<p class="something"><span class="connector_text">Backbone.js</span></p>
				<p class="something"><span class="connector_text">HTML/CSS</span></p>
				<p>SPSS</p>
			</div>
			<div class="large-3 columns">
				<p class="something"><span class="connector_text">Github</span></p>
				<p>Heroku</p>
			</div>
		</div>
	</div>

</div>