/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 *= require font-awesome
 */


.resume {
	font-family:Helvetica;
}

h2 {
	text-align: center;
}

.something {
	margin-bottom:0;
	font-weight:bold;
}

.connector_text {
	font-weight:normal;
}
div {
	border-radius: 1px;
}